<form method="post" action="/test/variables">
    <input type="text" placeholder="Genero" name="generoUno">
    <input type="text" placeholder="Director" name="directorUno">
    <input type="text" placeholder="Duracion" name="duracionUno">
    <input type="text" placeholder="Rating" name="ratingUno">
    <input type="text" placeholder="Año" name="anoUno">
    <button type="submit">Enviar</button>
</form>