body{
    padding: 0;
    margin: 0;
}

#form{
    margin-top: 6%;
}

#recomendados{
    margin-left: 2.5%;
    margin-top: 4%;
    width: 95%;
    margin-bottom: 4%;
 /*   background-color: red; */
    padding: 0;
    overflow: auto;
    display: flex;
}



.card{
    flex: none;
    width: 15vw;
    min-width: 200px;
    background-color: yellow;
    margin-left: 0.4%;
    margin-right: 0.4%;
}

.img {
    width: 100%;
    height: 40vh;
    background-color: blue;
}

#usuUnoDiv {
    display: flex;
    justify-content: space-around;
}

#usoDosDiv {
    display: flex;
    justify-content: space-around;
}

#seleccionadosUnoDiv div{
  /*  background-color: blue; */
    margin: 1%;
    padding: 0.5%;
}

#seleccionadosUnoDiv {
    display: flex;
    justify-content: space-around;
}

#seleccionadosDosDiv div{
 /*   background-color: blue; */
    margin: 1%;
    padding: 0.5%;
}

#seleccionadosDosDiv {
    display: flex;
    justify-content: space-around;
}

#botonsonEnviar{
   margin-left: 49%;
    margin-top: 2%;
}

.usoText {
    font-size: 2vw;
    margin-left: 2%;
}

.saveButton {
    background: white;
    color: #333333;
    border: 2px solid #333333;
    padding: 1px;
    width: 4vw;
    font-size: 10pt;
    letter-spacing: 2px;
}

.saveButton:hover {
    background: #333333;
    color: antiquewhite;
}


.tituloCategoria {
    font-size: 1vw;
    color: #1E1E1E;
}

.inputDatos {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid rgba(185,9,11,0.3);
}

.inputDatos:focus {

    border: 2px solid rgba(185,9,11,1);
}