body{
    padding: 0;
    margin: 0;
}

#form{
    margin-top: 6%;
}

#recomendados{
    margin-left: 2.5%;
    margin-top: 4%;
    width: 95%;
    margin-bottom: 4%;
 /*   background-color: red; */
    padding: 0;
    overflow: auto;
    display: flex;
    box-shadow:inset 0 0 4px rgba(0,0,0,0.6);
}



.card{
    flex: none;
    width: 15vw;
    min-width: 200px;

    box-shadow: 0 0 2px rgba(0,0,0,0.6);
    margin-left: 0.4%;
    margin-right: 0.4%;
}

.card h4 {
    margin: 5%;
    font-size: 1vw;
    color: rgba(0,0,0,0.8);
}

.card h5 {
    margin: 5%;
    font-size: 0.7vw;
    color: rgba(0,0,0,0.6);
    display: inline-block;
}

.card a {
    margin: 5%;
    font-size: 0.6vw;
}

.card p {
    margin: 5%;
    font-size: 0.7vw;
    color: rgba(0,0,0,0.7);
}
.generoDiv{
    border-bottom: 1px solid #808080;
}
.categoriaH{
    margin: 5%;
    margin-bottom: 0;
    font-size: 0.8vw;
    color: rgba(0,0,0,0.8);
}


.descripcionPelicula {
    display: none;
}

.card:hover{


    box-shadow: 0 0 4px rgba(0,0,0,0.6);

}

.img {
    width: 100%;
    height: 40vh;
    background-color: blue;
}

#usuUnoDiv {
    display: flex;
    justify-content: space-around;
}

#usoDosDiv {
    display: flex;
    justify-content: space-around;
}

#seleccionadosUnoDiv div{
  /*  background-color: blue; */
    margin: 1%;
    padding: 0.5%;
}

#seleccionadosUnoDiv {
    display: flex;
    justify-content: space-around;
}

#seleccionadosDosDiv div{
 /*   background-color: blue; */
    margin: 1%;
    padding: 0.5%;
}

#seleccionadosDosDiv {
    display: flex;
    justify-content: space-around;
}

#botonsonEnviar{
   margin-left: 49%;
    margin-top: 2%;
}

.usoText {
    font-size: 2vw;
    margin-left: 2%;
}

.saveButton {
    background: white;
    color: #333333;
    border: 2px solid #333333;
    padding: 1px;
    width: 4vw;
    font-size: 10pt;
    letter-spacing: 1.5px;
}

.saveButton:hover {
    background: #333333;
    color: antiquewhite;
}


.tituloCategoria {
    font-size: 1vw;
    color: #1E1E1E;
}

.inputDatos {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid rgba(185,9,11,0.3);
}

.inputDatos:focus {

    border: 2px solid rgba(185,9,11,1);
}